body {
    background-image: url(https://img.freepik.com/free-photo/scratched-dark-brown-wooden-textured-background_53876-160597.jpg);
    background-size: cover;
    display: flex;
    justify-content:center;
    /* align-items: center;  */
    height: 100vh;
    overflow: auto;
    margin: 0px;
    /* background-color: black; */
}

.piano {
    display: flex;  
}

.key {
    width: 40px;
    height: 205px;
    border: 1px solid #000;
    border-radius: 0 0 7px 7px;
    box-shadow: 4px 5px 8px rgba(83, 83, 83, 0.699);
    margin: 0 4px;
    cursor: pointer;
}

.white {
    margin-top: -5px;
    background-color: #fff;
}
.black{
    background-color: #000;
    width: 30px;
    height: 120px;
    margin: -5px -15px 0 -15px ;
    z-index: 2;
}



.black:hover{
    margin-top:0px;
    transform: scale(1.03);
}
.white:hover{
    transform: scale(1.03);
    margin-top: 0px;
}




@media(max-width:940px){
    body{
        /* align-items: center; */
        justify-content: end;
    }
    .piano{
        transform: rotate(90deg);
    }

    .black{
        width: 28px;
        height: 115px;
        margin: -5px -14.5px 0 -14.5px !important;
        
    }
    
    @media(max-height:930px) {

        .key{
            width: 33px;
            height: 150px;
            border-radius: 0 0 5px 5px;
            margin: 0 2px;

        }
        .black{
            width: 23px;
            height: 85px;
            margin: -1px -10px 0 -10px !important ;
            
        }

    }
}
